.tab-card {
    border: 2px solid var(--clr-dark);
  }
  
  .tab-status-detail {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100%;
    margin: 0 .5rem 0 0;
    justify-content: center;
    text-align: center;
    border-right: 2px solid var(--clr-green-dark);
    font-size: 1.5rem;
  }
  
  .occupied {
    font-size: 1rem;
  }
  
  .tab-btn {
    border-width: 0;
    border-top: 1px solid var(--clr-dark);
    height: 50%;
  }
  
  .tab-status {
    height: 50%;
    padding-top: .5rem;
    border-bottom: 2px solid var(--clr-dark);
  }
  
  .table-form .form-inputs {
    border: .2rem solid var(--clr-green-dark);
  }
  
