:root {
    --clr-dark: hsl(0, 0%, 20%);
    --clr-med: hsl(0, 0%, 40%);
    --clr-light: hsl(0, 0%, 90%);

    --clr-neutral-light: hsl(37, 33%, 69%);
    --clr-neutral-med: hsl(37, 26%, 52%);
    --clr-neutral-dark: hsl(38, 30%, 31%);
    --clr-green-light: hsl(113, 28%, 71%);
    --clr-green-med: hsl(113, 27%, 61%);
    --clr-green-dark: hsl(114, 23%, 32%);
  }
  
  .body {
    display: flex;
    flex-direction: column;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    min-height: 100vh;
  }
  
  .light-green-bg {
    background-color: var(--clr-green-light);
  }

  .med-green-bg {
    background-color: var(--clr-green-med);
  }

  .med-green {
    color: var(--clr-green-med)
  }

  .dark-green {
    color: var(--clr-green-dark);
  }
  .dark-green-bg {
    background-color: var(--clr-green-dark);
  }

  .light-neutral-bg {
    background-color: var(--clr-neutral-light);
  }

  .med-neutral-bg {
    background-color: var(--clr-neutral-med);
  }

  .med-neutral {
    color:  var(--clr-neutral-med)
  }

  .dark-neutral {
    color: var(--clr-neutral-dark)
  }

  .dark {
    color: var(--clr-dark);
  }
  
  .dark-bg {
    background-color: var(--clr-dark);
  
  }

  .medium {
    color: var(--clr-med);
  }
  
  .medium-bg {
    background-color: var(--clr-med);
  }
  
  .light {
    color: var(--clr-light);
  }
  
  .light-bg {
    background-color: var(--clr-light);
  }
  
  .med-neutral-hover:hover {
    color: var(--clr-neutral-med);
  }
  
  .rounded-left-corners-rotated {
    border-radius: .3rem .3rem 0 0;
  }
  
  .rounded-left-corners {
    border-radius: .36rem 0 0 .36rem;
  }
  
  .rounded-right-corners-rotated {
    border-radius: 0 0 .36rem .36rem;
  }
  .rounded-top-left-corner {
    border-radius: .36rem 0 0 0;
  }
  .rounded-bottom-left-corner {
    border-radius: 0 0 0 .36rem;
  }
  
  @media all and (min-width: 800px) {
    .body {
      flex-direction: row;
    }
  
    .content {
      flex-grow: 1;
      margin-left: 250px;
    }
  }