.res-card {
    font-size: .7rem;
  }
  
  .res-buttons {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 75px;
    transform: rotate(-90deg);
  }
  
  .seated-buttons {
    transform: rotate(-90deg) translate(12.5px, 12.5px);
  }
  
  .res-btn {
    border-width: 0px;
    padding: .2rem;
    height: 25px;
  }
  
  .res-status {
    height: 25px;
    text-align: center;
    width: 75px;
    padding: .2rem;
    transform: rotate(-90deg) translate(-25px, -25px);
    margin-right: -45px;
  }
  
  .res-card.booked {
    border: 2px solid var(--clr-green-med);
  }
  
  .res-status.booked {
    background-color: var(--clr-green-med);
  }
  
  .res-card.seated {
    border: 2px solid var(--clr-neutral-med);
  }
  
  .res-status.seated {
    background-color: var(--clr-neutral-med);
    color: var(--clr-light)
  }
  
  .res-card.finished {
    border: 2px solid var(--clr-green-dark);
  }
  
  .res-status.finished {
    background-color: var(--clr-green-dark);
  }
  
  .res-card.cancelled {
    border: 2px solid var(--clr-dark);
  }
  
  .res-status.cancelled {
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
  
  .res-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .res-details p,
  .res-details h4 {
    margin: 0;
  }
  
  .res-details h4 {
    font-size: 1.2rem;
  }
  
  .res-date {
    line-height: 1;
  }
  
  .res-btn {
    width: 100%;
  }
  
  
  .create-res {
    display: flex;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-inputs {
    margin: 1rem;
    padding: 1.7rem;
    border: .2rem solid var(--clr-green-dark);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min(100%, 600px);
  }
  
  .form-btn {
    border: 2px solid var(--clr-dark);
    border-radius: .5rem;
    margin: .5rem 2rem;
    padding: .5rem .9rem;
  }
  
  .form-item-dt {
    margin: 1rem 0;
  }
  
  .form-item {
    margin: 1.7rem 0;
    width: 100%;
  }
  
  .form-item-dt.date,
  .form-item-dt.time {
    display: flex;
    flex-direction: column;
  }
  
  .form-item-dt.date {
    margin: 1.5rem 0 0 0;
  }
  
  .form-item-dt.time {
    margin: .3rem 0;
  }
  
  .form-item {
    position: relative;
    margin: 2rem 0;
    width: 100%;
  }
  
  .inp,
  .res-inp {
    width: 100%;
    border: 2px solid var(--clr-med);
    border-radius: .5rem;
    padding: .5rem;
    outline: none;
    background: none;
  }
  
  .inp {
    margin-bottom: .1rem;
  }
  
  .res-inp {
    position: absolute;
    top: 0;
    left: 0;
  }
  

  
  .form-label-dt {
    margin: 0;
  }
  
  .form-label {
    position: absolute;
    left: 1rem;
    top: .8rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  }
  
  .res-inp:focus~.form-label,
  .res-inp:not(:placeholder-shown).res-inp:not(:focus)~.form-label {
    top: -.55rem;
    left: .8rem;
    font-size: .9rem;
    background-color: var(--clr-light);
    padding: 0 .3rem;
  }
  
  .search-form .form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    padding: 0 1rem;
  
    max-width: 600px;
  }
  
  
  .search-form .form-item .inp {
    margin: 0;
    border-radius: .5rem 0 0 .5rem;
  }
  
  
  .search-form .form-item .form-btn {
    margin: 0;
    border-radius: 0 .5rem .5rem 0;
  }
  
  .search-res-list .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .search-res-list .list .res-card {
    min-width: 300px;
  }
  
  .seat-form-buffer {
    width: 100%;
    padding: 0 5rem;
  }
  
  select {
    margin: auto;
    max-width: 600px;
    padding: .5rem;
  }
  

  
